<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
 <head
  ><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"
  /><meta name="keywords" content="CMS, SiteDB"
  /><title>SiteDB</title
 ></head
 ><body id='body' style="display:none"
  ><div id="header"
    ><div class="heading"
     ><div class="label">&nbsp;</div
     ><h1 class="title">SiteDB</h1
     ><h2 id="view" class="title">&nbsp;</h2
    ></div
    ><img id="cmslogo" src="static/cms-progress.gif" width="46" height="46"
   /></div
  ><div id="canvas"
    ><div id="canvas-opts" class='menu' style="display:none"></div
    ><div id="canvas-menu" class='menu' style="display:none"></div
    ><div id="canvas-area"></div
   ></div
   ><div id="diagnostic"
    ><div id='whoami'></div
    ><div id='time'></div
    ><div id="message"></div
  ></div
  ><style type="text/css">@CSS@</style
  ><script type="text/javascript"><!-- @JAVASCRIPT@ --></script
 ></body
></html>
