/**********************************************************************/
/* Structure elements: header, content, sidebars etc.  */

#header {
  width:		100%;
  color:		#fffde0;
  background-color:	#790000;
  padding:		0 0 0 65px;
  margin:		0;
  left:			0;
  top:			0;
  position:		fixed;
  height:               auto;
  line-height:		1.5em;
}

#messages {
  position:		fixed;
  top:			46px;
  left:			170px;
  color:		#000;
  height:		auto;
  background-color:	#e1e1e1;
  padding:		5px;

  box-shadow:		0 0 6px rgba(64, 64, 64, 0.3);
  border:		1px solid #666;
  border-radius:	2px;
}

#body {
  margin-top:		70px;
  padding:		0 0 0 150px;
}

#sidebar-area {
  margin-left:		-150px;
  width:		150px;
}

#sidebar {
  margin-left:		7px;
}

#content-area {
  width:		100%;
}

#messages.alert {
  background-color:	#fff0f5;
  border-color:		#dc143c;
}

#messages.warning {
  background-color:	#edf3fe;
  border-color:		#3d80df;
}

#messages.note {
  background-color:	#e4f1db;
  border:		1px solid #32a804;
}

.faded {
  color:		#666;
}

button {
  padding:		.5em;
}

input[type=text], input[type=password] {
  width:		15em;
  padding:		.2em;
}
.description-area{
  width: 41em;
}

input.invalid-value {
  background-color:	rgba(255, 221, 221, 0.8);
}

/**********************************************************************/
#logo {
  position:		fixed;
  left:			7px;
  top:			7px;
  overflow:		show;
}

#header div, #header .title {
  zoom:			1;
  vertical-align:	baseline;
  display:		inline-block;
}

#header div {
  margin-right:		20px;
}

#header #view * {
  font-size:		1.15em;
}

#header #instances {
  border-left:		1px dotted #eee;
}

#header #instances * {
  font-size:		1.05em;
}

#header .title {
  white-space:		nowrap;
  font-weight:          normal;
  border:		1px solid transparent;
  padding:		6px 6px 4px;
  margin:		0;
}

#header .title > * {
  padding:		0px 5px;
}

#header .selected {
  background-color:	#a0410d;
  box-shadow:		0 0 5px rgba(0, 0, 0, 0.3);
  border:		1px solid rgba(192, 192, 192, 0.5) !important;
  border-bottom:	1px solid rgba(121, 0, 0, 0.5) !important;
  border-radius:	3px 3px 0 0;
}

#header h1.title {
  color:		#fff;
  font-weight:		bold;
}

#header h1.subtitle {
  font-weight:		normal;
}

#header .title a {
  text-decoration:	none;
  color:		#fff799;
}

#header .title a:hover {
  text-decoration:	underline;
  color:		#fff799;
}

#sidebar h3 {
  overflow:		hidden;
  width:		90%;
  color:		#790000;
  border-bottom:	1px dotted #790000;
  margin:		7px 0 2px 0;
}

#sidebar p {
  margin:		0;
}

#debug-data .valid { color: #282; }
#debug-data .pending { color: #8e8; }
#debug-data .invalid { color: #f33; }
#debug-data .error { color: #f00; }

#content h2, #content h3 {
  margin:		10px 0 5px;
}

#content h2:first-child, #content h3:first-child {
  margin-top:		0;
}

#content p {
  margin:		0 0 2px;
}

#content .group {
  zoom:			1;
  vertical-align:	top;
  display:		inline-block;
  padding:		0 10px 0 0;
}

#content table {
  border:		none;
  margin:		0;
}

#content tr {
  vertical-align:	baseline;
}

#content table.mini td {
  padding-top:		.1em;
}

#content td, #content th {
  padding:		.5em 2em 0 0;
  border:		none;
}

#resources thead, #fed-resources thead {
  background-color:	#d2e0ec;
}

#resources .tier {
  background-color:	#cbd8e3;
}

#resources td, #resources th, #fed-resources td, #fed-resources th {
  padding:		.25em 1.25em .25em 1.25em;
  border-right:		1px solid #ccc;
  text-align:		right;
}

#resources td:first-child, #resources th:first-child,
#fed-resources td:first-child, #fed-resources th:first-child {
  padding-left:		0.1em;
  border-left: 1px solid #CCCCCC;
}

#resources .left,
#fed-resources .left {
  text-align:		left;
}

#resources .middle,
#fed-resources .middle   {
  text-align:		center;
}

#content .rmbutton {
  cursor:		pointer;
  float:                right;
}

#content .rmicon {
  background:           url(/sitedb/static/?sitedb/images/delete-small.gif) no-repeat;
  visibility:		hidden;
  display:		block;
  opacity:		0.6;
  height:		11px;
  width:		16px;
}

#content tr:hover .rmicon {
  visibility:           visible;
}

#content .rmbutton:hover .rmicon {
  opacity:              1.0;
}

#content .yui3-aclist {
  white-space:		nowrap;
}

#content dl.mini {
  margin-left:		1.4em;
  padding:		0;
}

#content dl.mini dt {
  margin:		0 0 0 -1.4em;
  color:		#666;
  font-weight:		normal;
  font-style:		normal;
  display:		inline-block;
  width:		1.4em;
  padding:		0;
}

#content dl.mini dd {
  display:		inline;
  margin:		0;
  padding:		0;
}

#content dl.mini dd:nth-child(2):before {
  content:		"";
  display:		inline;
}

#content dl.mini dd:before {
  content:		", ";
  display:		inline;
}

#content dl {
  padding:		0 2em 0 0;
  margin:		0;
}

#content dt {
  font-style:		italic;
  padding:		.5em 0 0 0;
}
